
.org-info{
    text-align:justify;
    margin-top: "0";
}

.org-details{
    text-align: left;
    font-size:1rem;
}

.org-details > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 0.8rem;
    font-variant: small-caps slashed-zero;
}

.box-wrapper{
    border:none;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color:  #fad385;
    background-blend-mode:soft-light;
    border-radius: 25px;
}
